log
node_modules
public
dist
*.log
.classpath
.project
.settings
.gradle
war
build
.metadata
.sonarlint
.sonar
.DS_Store
.recommenders
.idea
bin
RemoteSystemsTempFiles
__pycache__
pyenv
*.log
*.rdb
output
target
.vscode

